*{
    margin: 0;
    padding: 0;
}
body{
    background-color: whitesmoke;
}
/*** Top Side ***/
.top-side{
    width: 100%;
}
.top-side iframe{
    width: 100%;
    height: 40vh;
}
.top-side p{
    font-size: 1em;
    text-align: center;
    font-weight: 600;
}
.top-side ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}
.top-side ul li i{
    font-size: 2em;
    margin: 0;
}
.top-side ul li i:hover{
    opacity: 0.8;
}
#ig{
    color: #fd5949;
}
#tw{
    color: #1DABDD;
}
#yt{
    color: #FF0000;
}
#fb{
    color: #38569E;
}
form{
    padding: 0.7em;
}
/* Bottom-side */
.bttom-side{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.bttom-side h1{
    color: black;
    font-size: 1.3em;
    text-align: center;
    font-weight: bold;
}
.bttom-side form{
    margin: 0% 3%;
    display: flex;
    flex-direction: column;
}
.bttom-side form label{
    font-size: 1em;
    font-weight: 600;
    color: black;
}
.bttom-side form input{
    border: 2px solid #4f6272;
    border-radius: 0.3em;
}
.bttom-side textarea{
    border: 2px solid #4f6272;
    border-radius: 0.3em;
    margin: 4% 0%;
    width: 100%;
    height: 15vh;
    resize: none;
}
.bttom-side button{
    width: 50%;
    background-color: transparent;
    font-weight: 600;
    border: 2px solid #38569E;
    border-radius: 0.3em;
}
.bttom-side form{
    margin-bottom: 5%;
}

.logofo{
    width: 100%;
}
.logofo a{
    text-align: center;
}
.siguenos{
    padding-top: 14%;
}
@media screen and (min-width:700px){
    form{
        padding: 0em 4em;
    }
    .top-side{
        padding: 0em 1em;
    }
}
@media screen and (min-width:1000px){
    .top-side{
        padding: 0em 0em 0em 0.6em;
    }
    .sec-all{
        display: flex;
    }
}
.bttom-side{
    margin-top: 3em;
}
.bttom-side form{
    margin: 0;
}
.siguenos{
    padding: 0;
}
footer{
    margin: 0;
    padding: 0;
}
#sb-h1{
    font-size: 1.7em;
}
.top-side{
    height: 70vh;
}
.top-side iframe{
    height: 80%;
}
.sobrenosotros{
    padding-top: 1%;
}
.grupo-1{
    padding: 0;
}
